<h1>let's eat burger </h1>
<form class="create-form">

{{!-- <div class="contenair" id= "db"> --}}
  <div class="form-group" id="orders">
    <label for="db">place your order here</label>
    <input type="text" id="dbs" name="name">
  </div>
  {{!-- </div> --}}